
.project-card {
    margin-bottom: 2rem;
}
.project-content h2 {
    text-align: center;
    font-size: 1.5rem;
}
.project-content h5 {
    text-align: center;
    font-size: 1rem;
}
.project-links {
    justify-content: space-around;
    display: flex;
    margin-bottom: 0.5rem;

}
.project-links a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.project-links a:hover {
    text-decoration: none;
    color: blueviolet;
    font-size: 1.1rem;
}
