.about-page {
    padding-left: 21rem;
    background-color: rgb(233, 210, 183);
    padding-bottom: 2rem;
}
.about-page h1{
    z-index: 3;
    padding-bottom: 0.4rem;
    width: 4rem;
    border-bottom: 3px solid rgb(0, 2, 20);

}
.about-intro {
    margin-top: 1rem;
}
.about-info {
    margin-top: 2rem;
    display: flex;
}
.about-info h3 {
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.about-info img {
    width: 15rem;
}
.about-info .container {
    margin-left: 2rem;
    width: 30rem;
    justify-content: space-between;
}
.about-info .container h4 {
    font-size: 1.2rem;
}
.about-info .container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
